.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #2d5a27;
  color: #ffffff;
  position: sticky;
  top: 0;
  z-index: 1000;
}

header h1 {
  color: #ffffff;
  font-family: heading;
  font-size: 1.8rem;
  text-transform: uppercase;
}

.header nav a {
  color: #ffffff;
  text-decoration: none;
  margin-left: 1.7rem;
}

.header nav a:hover {
  text-decoration: underline;
}
.menu-toggle{
  display: none;
}

@media (max-width: 1114px) {
  .header nav {
    display: flex;
    gap: 2rem;
  }

  .header nav a {
    margin: 0;
    font-size: 0.95rem;
  }


  .menu-toggle {
    display: none;
    background: transparent;
    border: none;
    font-size: 1.3rem;
    color: #ffffff;
    cursor: pointer;
  }
}

@media (max-width: 480px) {
  .menu-toggle {
    display: block;
    position: absolute;
    right: 0.6rem;
    z-index: 1100;
  }

  .header nav {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: #2d5a27;
    position: absolute;
    top: 90px;
    left: 0;
    padding: 1rem 0;
    border-radius: 0 0 10px 10px;
    z-index: 1050;
  }

  .header nav.open {
    display: flex;
  }

  .header nav a {
    margin: 0.5rem 1rem;
  }
}