@font-face {
  font-family: heading;
  src: url(../src/assets/fonts/Heading-Pro-Bold-trial.ttf);
}

body {
  margin: 0;
  margin-top: 45rem;
}

html {
  scroll-behavior: smooth;
}
@media (max-width: 480px) {
  body{
    margin-top: 45rem;
  }
}
